body{
  background-color: #a83593;
  z-index: 0;
}
table {
  margin: 100px auto;
  border-collapse: collapse;
  border-color: #DCDCDC;
  height: 960px;
  width: 960px;
  border: 1px solid #DCDCDC;
  background-color: white;
  z-index: -1;
}

table, th, td {
  text-align: center;
}
td{
  margin: 0;
  background-color: black;
  opacity: 0;
  border: none;
}

.drawnOver{
  background-color: black;
  border-color: black;
}
#resize{
  text-decoration: none;
  margin: 0 auto;
  top: 50px;
  height: 30px;
  width: 10%;
  left: 35%;
  right: 35%;
  position: absolute;
  text-align: center;
  background-color: blue;
  color: white;
  border: 1px solid yellow;

}
.container{
  margin: auto;
  width: 100%;
  height: 100%;
  text-align: center;
}
